<header class="header-6">
    <div class="branding">
        <a href="#" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Clarity Electron App</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="#" class="nav-link nav-icon">
            <clr-icon shape="cloud"></clr-icon>
        </a>
        <a href="#" class="active nav-link nav-icon">
            <clr-icon shape="folder"></clr-icon>
        </a>
    </div>
    <form class="search">
        <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords...">
            </label>
    </form>


    <div class="header-actions">
        <div class="header-nav">
            <div class="nav-link">
                <span class="nav-text">Connected to {{nsxIP}}</span>
            </div>
        </div>

        <clr-dropdown class="dropdown bottom-right">
            <button class="nav-icon" clrDropdownToggle>
                    <clr-icon shape="cog"></clr-icon>
                </button>
            <div class="dropdown-menu">
                <a href="#" clrDropdownItem>Configure NSX IP</a>
                <a href="#" clrDropdownItem>About</a>
            </div>
        </clr-dropdown>
    </div>
</header>